{% extends "base.html" %}
{% block titulo %}Agregar Nuevo Empleado{% endblock %}

{% block contenido %} 
<div class="col-md-9 p-0" style="margin-top: 21px; min-height: 100vh; display: flex; flex-direction: column;">
    <div class="card border-0 flex-grow-1">
        <div class="card-header text-black text-left">
            <h2>Agregar Empleado</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                
                <div class="form-group row">
                    <label for="dni" class="col-md-4 col-form-label">DNI:</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" id="dni" name="dni" required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="nombre" class="col-md-4 col-form-label">Nombre:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="apellido" class="col-md-4 col-form-label">Apellido:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="apellido" name="apellido" required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="domicilio" class="col-md-4 col-form-label">Domicilio:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="domicilio" name="domicilio">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="correo_electronico" class="col-md-4 col-form-label">Correo Electrónico:</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control" id="correo_electronico" name="correo_electronico">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="numero_telefono" class="col-md-4 col-form-label">Número de Teléfono:</label>
                    <div class="col-md-8">
                        <input type="tel" class="form-control" id="numero_telefono" name="numero_telefono">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="contraseña" class="col-md-4 col-form-label">Contraseña:</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" id="contraseña" name="contraseña" required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="estado_empleado" class="col-md-4 col-form-label">Estado del Empleado:</label>
                    <div class="col-md-8">
                        <select class="form-control" id="estado_empleado" name="estado_empleado">
                            <option value="activo">Activo</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="es_admin" class="col-md-4 col-form-label">Rol:</label>
                    <div class="col-md-8">
                        <select id="es_admin" name="es_admin" class="form-control">
                            <option value="False">Empleado</option>
                            <option value="True">Administrador</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        
        <!-- Card Footer, siempre al final -->
        <div class="card-footer bg-danger d-flex pt-3">
            <button type="submit" class="btn btn-sm mr-2 text-white mx-2 mr-2" style="background-color: #701C7E;">Guardar</button>
            <a href="{% url 'list_empleados' %}" class="btn btn-warning btn-sm text-white ml-2">Cancelar</a>
        </div>
    </div>
</div>  
{% endblock %}

