{% extends "base.html" %}
{% block titulo %}Agregar Nuevo Servicio{% endblock %}

{% block contenido %} 
<div class="col-md-9 p-0" style="margin-top: 21px; min-height: 100vh; display: flex; flex-direction: column;">
    <div class="card border-0 flex-grow-1">
        <div class="card-header text-black text-left">
            <h2>Agregar Servicio</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group row" id="nombre_del_servicio-container">
                    <label for="nombre_del_servicio" class="col-md-4 col-form-label">Nombre del Servicio:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control {% if errores.nombre_del_servicio %}is-invalid{% endif %}" id="nombre_del_servicio" name="nombre_del_servicio" value="{{ form.nombre_del_servicio }}">
                        {% if errores.nombre_del_servicio %}
                            <div class="invalid-feedback">{{ errores.nombre_del_servicio }}</div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="form-group row" id="descripcion_del_servicio-container">
                    <label for="descripcion_del_servicio" class="col-md-4 col-form-label">Descripción del Servicio:</label>
                    <div class="col-md-8">
                        <textarea rows="10" class="form-control" id="descripcion_del_servicio" name="descripcion_del_servicio">{{ form.descripcion_del_servicio }}</textarea>
                    </div>
                </div>
                
                <div class="form-group row" id="duracion-container">
                    <label for="duracion" class="col-md-4 col-form-label">Duración:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control {% if errores.duracion %}is-invalid{% endif %}" id="duracion" name="duracion" value="{{ form.duracion }}">
                        {% if errores.duracion %}
                            <div class="invalid-feedback">{{ errores.duracion }}</div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="form-group row" id="precio_del_servicio-container">
                    <label for="precio_del_servicio" class="col-md-4 col-form-label">Precio del Servicio:</label>
                    <div class="col-md-8">
                        <input type="number" step="0.01" class="form-control {% if errores.precio_del_servicio %}is-invalid{% endif %}" id="precio_del_servicio" name="precio_del_servicio" value="{{ form.precio_del_servicio }}">
                        {% if errores.precio_del_servicio %}
                            <div class="invalid-feedback">{{ errores.precio_del_servicio }}</div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="form-group row" id="senia-container">
                    <label for="senia" class="col-md-4 col-form-label">Valor de Seña:</label>
                    <div class="col-md-8">
                        <input type="number" step="0.01" class="form-control {% if errores.senia %}is-invalid{% endif %}" id="senia" name="senia" value="{{ form.senia }}">
                        {% if errores.senia %}
                            <div class="invalid-feedback">{{ errores.senia }}</div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="form-group row" id="imagen-container">
                    <label for="imagen" class="col-md-4 col-form-label">Imagen:</label>
                    <div class="col-md-8">
                        <input type="file" class="form-control" id="imagen" name="imagen">
                    </div>
                </div>

            </div>

        <!-- Card Footer, siempre al final -->
        <div class="card-footer bg-danger d-flex pt-3">
            <button type="submit" class="btn btn-sm mr-2 text-white mx-2 mr-2" style="background-color: #701C7E;">Guardar</button>
            <a href="{% url 'list_servicios' %}" class="btn btn-warning btn-sm text-white ml-2">Cancelar</a>
        </div>
     </form>
    </div>
</div>
{% endblock %}

