{% extends 'turnos.html' %}

{% block content %}
<!-- Form Section -->
<div class="col-md-8 p-0" style="margin-top: 21px;">
    <div class="card border-0 h-100">
        <div class="card-header bg-primary text-white text-left">
            <h2>Crear Turno</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group row">
                    <label for="fecha" class="col-md-4 col-form-label">Fecha:</label>
                    <div class="col-md-8">
                        {{ form.fecha }}
                    </div>
                </div>

                <!-- Selección de empleados -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Empleados:</label>
                    <div class="col-md-8">
                        {{ form.empleado1 }}<br>
                        {{ form.empleado2 }}<br>
                        {{ form.empleado3 }}<br>
                        {{ form.empleado4 }}
                    </div>
                </div>

                <!-- Selección de un solo servicio -->
                <div class="form-group row">
                    <label for="servicio" class="col-md-4 col-form-label">Servicio:</label>
                    <div class="col-md-8">
                        {{ form.servicio }}
                    </div>
                </div>

                <!-- Campos para seleccionar cuatro horas -->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Horas:</label>
                    <div class="col-md-8">
                        {{ form.hora1 }}<br>
                        {{ form.hora2 }}<br>
                        {{ form.hora3 }}<br>
                        {{ form.hora4 }}
                    </div>
                </div>

                <div class="card-footer bg-danger">
                    <button type="submit" class="btn btn-light btn-sm mr-2">Guardar</button>
                    <button type="button" class="btn btn-light btn-sm mr-2">Guardar y agregar nuevo</button>
                    <button type="button" class="btn btn-light btn-sm">Guardar y modificar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
