{% extends "turnos.html" %}
{% load static %}
{% block content %}
<div class="contenedor">
<h1>Crear Registro de Turno</h1>
    <form method="post">
        {% csrf_token %}
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" id="fecha" value=""><br>
        <br>
        <label for="hora">Hora:</label>
        <input type="time" name="hora" id="hora" value=""><br>
        <br>
        <label for="estado_turno">Estado del Turno:</label>
        <input type="checkbox" name="estado_turno" id="estado_turno" {% if form.estado_turno.value %}checked{% endif %}> <br>
        <br>
        <input type="hidden" name="turno_id" value="{{ turno.id_turno }}">

        <label for="id_servicio">Servicio:</label><br>
        <select name="id_servicio" id="id_servicio" required><br>
            {% for servicio in servicios %}
            <option value="{{ servicio.id_servicio }}" {% if servicio.id_servicio == servicio_actual.id_servicio %}selected{% endif %}>
               {{ servicio.nombre_del_servicio }}
            </option>
            {% endfor %}
         </select>
        <br>
        <br>
        <label for="id_empleado">Empleado:</label><br>
        <select name="id_empleado" id="id_empleado" required>
            {% for empleado in empleados %}
            <option value="{{ empleado.dni }}" {% if empleado.dni == empleado_actual.dni %}selected{% endif %}>
                {{ empleado.nombre }}
            </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'listar_turnos' %}">Volver al Listado de Turnos</a>
</div>
{% endblock %}
