{% extends 'reserva.html' %}

{% block content %}
<div class="col-md-8 main-content">
    <div class="container mt-4">
        <h2>Detalles de la Reserva #{{ reserva.id_reserva }}</h2>
        <p><strong>Cliente:</strong> {{ reserva.id_cliente.nombre }} {{ reserva.id_cliente.apellido }}</p>
        <p><strong>Servicio:</strong> {{ reserva.id_serv_x_tur.id_servicio.nombre_del_servicio }}</p>
        <p><strong>Fecha de Reserva:</strong> {{ reserva.id_turno.fecha }}</p>
        <p><strong>Hora de Reserva:</strong> {{ reserva.id_turno.hora|date:"H:i" }}</p>
        <p><strong>Estado Reserva:</strong> {{ reserva.get_estado_reserva_display }}</p>
    </div>
</div>
{% endblock %}
