{% extends "base.html" %}
{% block titulo %}Detalle de Ventas{% endblock %}

{% block contenido %} 
<div class="col-md-9 main-content" >
    <div class="title-section">
        <h2>Detalle de Venta</h2>
    </div>

    <div class="table-responsive" style="margin-top: 15px;">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Datos</th>
                    <th>Informacion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>ID Venta</strong></td>
                    <td>{{ venta.id_venta }}</td>
                </tr>
                <tr>
                    <td><strong>Cliente</strong></td>
                    <td>{{ venta.id_cliente.nombre }} {{ venta.id_cliente.apellido }}</td>
                </tr>
                <tr>
                    <td><strong>Fecha</strong></td>
                    <td>{{ venta.fecha_venta }}</td>
                </tr>
                <tr>
                    <td><strong>Método de Pago</strong></td>
                    <td>{{ detalle_venta.metodo_pago }}</td>
                </tr>
                <tr>
                    <td><strong>Monto Subtotal</strong></td>
                    <td>${{ detalle_venta.monto_subtotal }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
