<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fondo2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Empleados</title>
</head>
<body>
    <h2>Eliminar Empleado</h2>
<p>¿Estás seguro que deseas eliminar al empleado?</p>
<form method="POST">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
</form>
<a href="{% url 'listar_empleados' %}">Cancelar</a>

</body>
</html>