{% extends 'detalleventa.html' %}

{% block content %}
<div class="col-md-8 main-content">
    <div class="container mt-4">
        <h2>Detalles de la Venta #{{ venta.id_venta }}</h2>
        <a href="{% url 'list_ventas' %}" class="btn btn-primary mb-3">Volver a Lista de Ventas</a>
        
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>ID Detalle Venta</th>
                    <th>Reserva</th>
                    <th>Método de Pago</th>
                    <th>Monto Subtotal</th>
                    <th>Comprobante</th>
                    <th>Estado Reserva</th>
                </tr>
            </thead>
            <tbody>
                {% for detalle in detalles_venta %}
                <tr>
                    <td>{{ detalle.id_detalle_venta }}</td>
                    <td>
                        <a href="{% url 'detalle_reserva' detalle.id_reserva.id_reserva %}" class="btn btn-info">Ver Reserva</a>
                    </td>  <!-- ID de la Reserva -->
                    <td>{{ detalle.metodo_pago }}</td>
                    <td>{{ detalle.monto_subtotal }}</td>
                    <td>
                        {% if detalle.comprobante %}
                        <img src="{{ detalle.comprobante.url }}" alt="Comprobante" style="max-width: 150px;">
                        {% else %}
                        No disponible
                        {% endif %}
                    </td>
                    <td>{{ detalle.estado_reserva }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No hay detalles de venta registrados para esta venta.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
