{% extends "base.html" %}
{% block titulo %}Listado de Ventas{% endblock %}

{% block contenido %} 
<div class="col-md-9 main-content">
    <div class="title-section">
        <h2>Lista de Ventas</h2>
    </div>
    <div class="action-bar">
        Acción
        <select class="form-control">
            <option>Seleccionar</option>
            <option>Opción 1</option>
            <option>Opción 2</option>
        </select>
        <button class="btn btn-filter btn-light ml-2">Filtrar</button>
    </div>

    <div class="table-responsive" style="max-height: 400px; overflow-y: auto; margin-top: 15px;">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Caja</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Monto Total</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr class="{% if venta.id_caja.estado %}estado-abierta{% else %}estado-cerrada{% endif %}">
                    <td>{{ venta.id_venta }}</td>
                    <td>{{ venta.id_caja }}</td>
                    <td>{{ venta.id_cliente.nombre }} {{ venta.id_cliente.apellido }}</td>
                    <td>{{ venta.fecha_venta }}</td>
                    <td>${{ venta.monto_total }}</td>
                    <td>
                        <a href="{% url 'detalle_venta' venta.id_venta %}" class="btn btn-primary btn-sm">Ver Detalle</a>
                        <a href="{% url 'modificar_metodo_pago' venta.id_venta %}" class="btn btn-warning btn-sm">Modificar Método de Pago</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>                
        </table>
    </div>
</div>
{% endblock %}
