{% extends "empleados.html" %}

{% block content %}
<h2>Lista de Empleados</h2>
<a href="{% url 'crear_empleado' %}">Crear Empleado</a>
<table style="border: 3px solid black;">
    <thead>
        <tr style="background-color: gray;">
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Domicilio</th>
            <th>Número de Teléfono</th>
            <th>Estado</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
        <tr style="background-color: white;">
            <td>{{ empleado.dni }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.correo_electronico }}</td>
            <td>{{ empleado.domicilio }}</td>
            <td>{{ empleado.numero_telefono }}</td>
            <td>
                {% if empleado.estado_empleado %}
                    Activo
                {% else %}
                    Suspendido
                {% endif %}
            </td>
            <td>
                {% if empleado.es_admin %}
                    Administrador
                {% else %}
                    Empleado
                {% endif %}
            </td>
            <td>
                <a href="{% url 'modificar_empleado' empleado.dni %}">Editar</a>
                <a href="{% url 'eliminar_empleado' empleado.dni %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'pagina_admin' %}">Volver a la Página Principal</a>
{% endblock %}
