{% extends "base.html" %}
{% load static %}
{% block titulo %}Listado de Reservas{% endblock %}

{% block contenido %} 
<div class="col-md-9 main-content">
    <div class="title-section">
        <h2>Lista de Reservas</h2>
    </div>

    <!-- Acción para seleccionar y aplicar a una reserva -->
    <div class="action-bar">
        Acción
        <select class="form-control" id="accionReserva">
            <option value="seleccionar">Seleccionar Accion</option>
            <option value="confirmar">Finalizar Reserva</option>
            <option value="cancelar">Cancelar Reserva</option>
        </select>
        <button class="btn btn-filter btn-light ml-2" id="btnAccionReserva">Aplicar</button>
    </div>

    <!-- Tabla de reservas -->
    <div class="table-responsive" style="max-height: 400px; overflow-y: auto; margin-top: 15px;">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    {% if mostrar_checkbox %}
                    <th>Seleccionar</th>
                    {% endif %}
                    <th>ID Reserva</th>
                    <th>Cliente</th>
                    <th>Turno</th>
                    <th>Servicio</th>
                    <th>Estado</th>
                    <th>Fecha Registro</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr class="
                    {% if reserva.estado_reserva == 'Confirmado' %} estado-confirmado
                    {% elif reserva.estado_reserva == 'Terminada' %} estado-terminado
                    {% elif reserva.estado_reserva == 'Cancelada' %} estado-cancelado
                    {% endif %}
                ">
                    <!-- Checkbox para seleccionar reserva -->
                    {% if reserva.estado_reserva != "Terminada" and reserva.estado_reserva != "Cancelada" %}
                    <td><input type="checkbox" name="id_reserva" value="{{ reserva.id_reserva }}"></td>
                    {% endif %}
                    <td>{{ reserva.id_reserva }}</td>
                    <td>{{ reserva.id_cliente.nombre }} {{ reserva.id_cliente.apellido }}</td>
                    <td>{{ reserva.id_turno.fecha }} {{ reserva.id_turno.hora }}</td>
                    <td>{{ reserva.id_serv_x_tur.id_servicio.nombre_del_servicio }}</td>
                    <td>{{ reserva.estado_reserva }}</td>
                    <td>{{ reserva.fecha_registro }}</td>
                </tr>
               {% endfor %}
            </tbody>                    
        </table>
    </div>
</div>

<script>
    document.getElementById("btnAccionReserva").addEventListener("click", function() {
        // Obtener la acción seleccionada
        var accion = document.getElementById("accionReserva").value;
        var selectedReserva = document.querySelector("input[name='id_reserva']:checked");

        if (!selectedReserva) {
            alert("Por favor, seleccione una reserva.");
            return;
        }

        var reservaId = selectedReserva.value;

        if (accion !== "seleccionar") {
            fetch(`/actualizar_reserva/${reservaId}/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                body: JSON.stringify({ "accion": accion }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.success); // Mostrar mensaje de éxito
                    location.reload();   // Recargar la página
                } else {
                    alert(data.error);   // Mostrar mensaje de error
                }
            })
            .catch(error => {
                console.error("Error al procesar la solicitud:", error);
                alert("Ocurrió un error al procesar la solicitud.");
            });
        } else {
            alert("Por favor, selecciona una acción válida.");
        }
    });
</script>
{% endblock %}
