{% extends "servicios.html" %}
{% load static %}
{% block content %}
<header class="cabezera">
    <label class="icon-menu">
        <a href="{% if es_admin %}{% url 'pagina_admin' %}{% else %}{% url 'pagina_principal' %}{% endif %}" class="title"></a>
    </label>
    <div class="cab_nav">
        <img src="{% static 'imagenes/icono1.png' %}" alt="Logo" class="logo_img">
        <ul>
            <li class="boton"><a href="{% url 'listar_ventas' %}">Ventas</a></li>
            <li class="boton"><a href="{% url 'listar_cajas' %}">Caja</a></li>
            <li class="boton"><a href="{% url 'listar_turnos' %}">Turnos</a></li>
            <li class="marca"><a href="{% url 'listar_servicios' %}">Servicios</a></li>
            <li class="boton"><a href="{% url 'listar_clientes' %}">Clientes</a></li>
            {% if es_admin %}
            <li class="boton"><a href="{% url 'listar_empleados' %}">Empleados</a></li>
            {% else %}
            <li class="boton"><a href="{% if es_admin %}{% url 'pagina_admin' %}{% else %}{% url 'pagina_principal' %}{% endif %}">Inicio</a></li>
            {% endif %}
        </ul>
    </div>
</header>

<div class="contenedor">
    <a href="{% url 'crear_servicio' %}">Registrar Nuevo Servicio</a>
     <table border="1">
        <thead>
            <tr style="background-color: gray;">
                <th>ID Servicio</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Descripción</th>
                <th>Duracion del servicio</th>
                <th>Precio del servicio</th>
                <th>Valor del Sello</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
            <tr style="background-color: white;">
                <td>{{ servicio.id_servicio }}</td>
                <td>{{ servicio.nombre_del_servicio }}</td>
                <td>
                    {% if servicio.imagen %}
                        <img src="{{ servicio.imagen.url }}" alt="{{ servicio.nombre_del_servicio }}" style="width: 100px; height: auto;"> <!-- Mostrar imagen -->
                    {% endif %}
                </td>
                <td>{{ servicio.descripcion_del_servicio }}</td>
                <td>{{ servicio.duracion }}</td>
                <td>{{ servicio.precio_del_servicio }}</td>
                <td>{{ servicio.valor_sello }}</td>
                <td>
                    {% if es_admin %}
                        <button type="button"><a href="{% url 'modificar_servicio' servicio.id_servicio %}" class="btn btn-warning">Modificar</a></button>
                        <button type="button"><a href="{% url 'eliminar_servicio' servicio.id_servicio %}" class="btn btn-danger">Eliminar</a></button>
                    {% else %}
                        <button type="button"><a href="{% url 'modificar_servicio' servicio.id_servicio %}" class="btn btn-warning">Modificar</a></button>
                        <button disabled>Eliminar</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
