{% extends "caja.html" %}
{% load static %}
{% block content %}
<header class="cabezera">
    <label class="icon-menu"><a href="{% if es_admin %}{% url 'pagina_admin' %}{% else %}{% url 'pagina_principal' %}{% endif %}" class="title"></label>
    <div class="cab_nav">
        <img src="{% static 'imagenes/icono1.png' %}" alt="Logo" class="logo_img">
        <ul>
            <li class="boton"><a href="{% url 'listar_ventas' %}">Ventas</a></li>
            <li class="marca"><a href="{% url 'listar_cajas' %}">Caja</a></li>
            <li class="boton"><a href="{% url 'listar_turnos' %}">Turnos</a></li>
            <li class="boton"><a href="{% url 'listar_servicios' %}">Servicios</a></li>
            <li class="boton"><a href="{% url 'listar_clientes' %}">Clientes</li>
            {% if es_admin %}
            <li class="boton"><a href="{% url 'listar_empleados' %}">Empleados</a></li>
            {% else %}
            <li class="boton"><a href="{% if es_admin %}{% url 'pagina_admin' %}{% else %}{% url 'pagina_principal' %}{% endif %}">Inicio</a></li>
            {% endif %}
        </ul>
    </div>
</header>
<div class="contenedor">
    {% if caja_abierta %}
    <button disabled>Abrir Nueva Caja</button>
    {% else %}
    <button><a href="{% url 'abrir_caja' %}">Abrir Nueva Caja</a></button>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th colspan="2">Apertura de Caja</th>
                <th colspan="2">Cierre de Caja</th>
                <th>Monto Inicial</th>
                <th>Monto Recaudado</th>
                <th>Monto Final</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for caja in cajas %}
            <tr>
                <td>{{ caja.id_caja }}</td>
                <td>{{ caja.empleado.nombre }}</td>
                <td>{{ caja.fecha_apertura }}</td>
                <td>{{ caja.empleado_cierre.nombre }}</td>
                <td>
                    {% if caja.fecha_cierre %}
                        {{ caja.fecha_cierre }}
                    {% else %}
                        Sin Cierre
                    {% endif %}
                </td>
                <td>{{ caja.monto_inicial }}</td>
                <td>
                    {% if caja.monto_recaudado %}
                        {{ caja.monto_recaudado }}
                    {% else %}
                        0
                    {% endif %}
                </td>
                <td>
                    {% if caja.monto_final %}
                        {{ caja.monto_final }}
                    {% else %}
                        {{ caja.monto_inicial }}
                    {% endif %}
                </td>
                <td>
                    {% if not caja.fecha_cierre %}
                    <a href="{% url 'cerrar_caja' caja.id_caja %}">Cerrar Caja</a>
                    {% endif %}
                    
                    {% if es_admin %}
                    <a href="{% url 'modificar_caja' caja.id_caja %}">Modificar</a>
                    <a href="{% url 'eliminar_caja' caja.id_caja %}" >Eliminar</a>
                    {% else %}
                    <button disabled>Modificar</button>
                    <button disabled>Eliminar</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}