{% extends "clientes.html" %}
{% load static %}
{% block content %}
<header class="cabezera">
    <label class="icon-menu"><a href="{% if es_admin %}{% url 'pagina_admin' %}{% else %}{% url 'pagina_principal' %}{% endif %}" class="title"></label>
    <div class="cab_nav">
        <img src="{% static 'imagenes/icono1.png' %}" alt="Logo" class="logo_img">
        <ul>
            <li class="boton"><a href="{% url 'listar_ventas' %}">Ventas</a></li>
            <li class="boton"><a href="{% url 'listar_cajas' %}">Caja</a></li>
            <li class="boton"><a href="{% url 'listar_turnos' %}">Turnos</a></li>
            <li class="boton"><a href="{% url 'listar_servicios' %}">Servicios</a></li>
            <li class="marca"><a href="{% url 'listar_clientes' %}">Clientes</li>
            {% if es_admin %}
            <li class="boton"><a href="{% url 'listar_empleados' %}">Empleados</a></li>
            {% else %}
            <li class="boton"><a href="{% if es_admin %}{% url 'pagina_admin' %}{% else %}{% url 'pagina_principal' %}{% endif %}">Inicio</a></li>
            {% endif %}
        </ul>
    </div>
</header>
<div class="contenedor">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electrónico</th>
                <th>Número de Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id_cliente }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.correo_electronico }}</td>
                <td>{{ cliente.numero_telefono }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}