<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros de Turnos</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
    <!-- Primary Header -->
    <header class="header-primary">
        <div class="logo">
            <a class="text-dark text-decoration-none" href="{% url 'pagina_principal' %}">
                <img src="{% static 'imagenes/icono1.png' %}" alt="Logo">
            </a>
            <span>EspacioAnaSol</span>
        </div>
        <div class="welcome-text">
            <a class="text-dark text-decoration-none" href="#">Ver el Sitio</a> / <a class="text-dark text-decoration-none" href="{% url 'backup_database' %}">Hacer copia de seguridad</a> / <a class="text-dark text-decoration-none" href="{% url 'restore_database' %}">Restaurar base de datos</a>  /  <a class="text-dark text-decoration-none" href="{% url 'logout' %}">Cerrar Sesión</a>
        </div>
    </header>

     <!-- Secondary Header -->
     <header class="header-secondary">
        <div class="menu-text">
            <a class="text-dark text-decoration-none" href="{% url 'pagina_principal' %}">Inicio </a> / <a class="text-dark text-decoration-none" href="{% url 'list_servicios' %}">Servicios</a>
        </div>
    </header>

    <!-- Main content -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-4 sidebar">
                <h3>Sitio de Empleados</h3>

                <div class="menu-section">
                    <h4>Registro de Datos</h4>
                    <div class="menu-item">
                        <a class="text-dark text-decoration-none" href="{% url 'list_ventas' %}">Ventas</a> <span class="plus-icon"></span>
                    </div>
                    <div class="menu-item">
                        <a class="text-dark text-decoration-none" href="{% url 'list_cajas' %}">Caja
                        {% if not cajas_abiertas %}
                        <a class="text-decoration-none" href="{% url 'abrir_caja' %}"><span class="plus-icon">+</span></a>
                        {% endif %}
                    </div>
                    <a class="text-dark text-decoration-none" href="{% url 'list_turnos' %}"><div class="menu-item">
                        Turnos </a><a class="text-decoration-none" href="{% url 'registrar_cliente' %}"><span class="plus-icon">+</span></a>
                    </div>
                    <a class="text-dark text-decoration-none" href="{% url 'list_servicios' %}"><div class="menu-item">
                        Servicios </a><a class="text-decoration-none" href="{% url 'add_servicio' %}"><span class="plus-icon">+</span></a>
                    </div>
                    <a class="text-dark text-decoration-none" href="{% url 'list_reservas' %}"><div class="menu-item">
                        Reservas </a>
                    </div>
                </div>

                <div class="menu-section mt-4">
                    <h4>Usuarios</h4>
                    <div class="menu-item"><a class="text-dark text-decoration-none" href="{% url 'list_clientes' %}">Clientes Registrados</a></div>
                    {% if es_admin %}
                    <div class="menu-item"><a class="text-dark text-decoration-none" href="{% url 'list_empleados' %}">Empleados Registrados</a></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8 main-content">
                <div class="title-section">
                    <h2>Lista de Turnos</h2>
                    <form action="{% url 'registrar_cliente' %}" method="get">
                        <button class="btn btn-insert">Agregar Turno +</button>
                    </form>
                </div>
                <div class="action-bar">
                    Acción:
                    <select id="action-select" class="form-control">
                        <option value="confirmar">Confirmar turno y enviar un correo electrónico</option>
                        <option value="cancelar">Cancelar turno y enviar un correo electrónico</option>
                    </select>
                    <button class="btn btn-filter btn-light ml-2" onclick="realizarAccion()">Aplicar</button>
                </div>
                <div class="table-responsive" style="max-height: 400px; overflow-y: auto; margin-top: 15px;">
                    <table class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Seleccionar</th>
                                <th>ID</th>
                                <th>Cliente</th>
                                <th>Diseño de Uñas</th>
                                <th>Comprobante de Pago</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Estado</th>
                                <th>Empleados</th>
                                <th>Servicios</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in turnos_data %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="selected_turnos" value="{{ data.turno.id_turno }}"
                                        {% if data.turno.estado_turno == 'Confirmado' or data.turno.estado_turno == 'cancelado' %} disabled {% endif %}>
                                </td>
                                <td>{{ data.turno.id_turno }}</td>
                                <td>{{ data.id_cliente.nombre }} {{ data.id_cliente.apellido }}</td>
                                <td>
                                    {% if data.diseño_uñas %}
                                        <img class="diseño-img" src="{{ data.diseño_uñas.url }}" alt="Diseño de uñas" width="100">
                                    {% else %}
                                        No disponible
                                    {% endif %}
                                </td>
                                <td>
                                    {% if data.senia_comprobante %}
                                        <img class="comprobante-img" src="{{ data.senia_comprobante.url }}" alt="Comprobante de pago" width="100">
                                    {% else %}
                                        No disponible
                                    {% endif %}
                                </td>
                                <td>{{ data.turno.fecha }}</td>
                                <td>{{ data.turno.hora }}</td>
                                <td>{{ data.turno.estado_turno }}</td>
                                <td>{{ data.empleados }}</td>
                                <td>{{ data.servicios }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function realizarAccion() {
            const action = document.getElementById("action-select").value; // Acción seleccionada
            const selectedTurnos = Array.from(document.querySelectorAll('input[name="selected_turnos"]:checked'))
                .map(checkbox => checkbox.value); // IDs de los turnos seleccionados
    
            if (selectedTurnos.length === 0) {
                alert("Selecciona al menos un turno.");
                return;
            }
    
            // Realizar la solicitud al servidor
            fetch("/confirmar_turnos/2/", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    action: action,
                    turnos: selectedTurnos
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("La acción se ha realizado exitosamente.");
                    location.reload();  // Recargar la página
                } else {
                    alert(data.message);  // Mostrar el mensaje de error
                }
            })
            .catch(error => console.error("Error:", error));
        }
    </script>
     <script src="{% static 'js/modal.js' %}"></script>
    
</body>
</html>
