{% extends "clientes.html" %}

{% block content %}
<h1>Listado de Clientes</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electrónico</th>
                <th>Número de Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id_cliente }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.correo_electronico }}</td>
                <td>{{ cliente.numero_telefono }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% if es_admin %}{% url 'pagina_admin' %}{% else %}{% url 'pagina_principal' %}{% endif %}">
        Volver a la Página Principal
    </a>
{% endblock %}