{% extends "servicios.html" %}
{% load static %}
{% block content %}
<div class="formulario">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="nombre_del_servicio">Nombre del Servicio:</label>
        {{ form.nombre_del_servicio }}<br>
        <br>
        
        <label for="imagen">Imagen:</label>
        {{ form.imagen }}<br>
        <br>
        
        <label for="descripcion_del_servicio">Descripción del Servicio:</label><br>
        {{ form.descripcion_del_servicio }}<br>
        <br>
        
        <label for="duracion">Duración:</label>
        {{ form.duracion }}<br>
        <br>
        
        <label for="precio_del_servicio">Precio del Servicio:</label>
        {{ form.precio_del_servicio }}<br>
        <br>
        
        <label for="valor_sello">Valor Sello:</label>
        {{ form.valor_sello }}<br>
        <br>
        
        <button type="submit">Guardar</button>
    </form>
    
</div>
<button><a href="{% url 'listar_servicios' %}">Cancelar</a></button>
{% endblock %}