<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modificar Registro de Turno</title>
</head>
<body>
    <h1>Modificar Registro de Turno</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="turno_id" value="{{ turno.id_turno }}">
        <!-- Selección del servicio -->
        <label for="id_servicio">Servicio:</label>
        <select name="id_servicio" id="id_servicio" required>
            {% for servicio in servicios %}
            <option value="{{ servicio.id_servicio }}" {% if servicio.id_servicio == servicio_actual.id_servicio %}selected{% endif %}>
               {{ servicio.nombre_del_servicio }}
            </option>
            {% endfor %}
         </select>
        <br>
    
        <!-- Selección del empleado -->
        <label for="id_empleado">Empleado:</label>
        <select name="id_empleado" id="id_empleado" required>
            {% for empleado in empleados %}
            <option value="{{ empleado.dni }}" {% if empleado.dni == empleado_actual.dni %}selected{% endif %}>
                {{ empleado.nombre }}
            </option>
            {% endfor %}
        </select>
        <br>
        
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" value="{{ turno.fecha }}" required><br>

        <label for="hora">Hora:</label>
        <input type="time" name="hora" value="{{ turno.hora }}" required><br>

        <label for="estado_turno">Estado:</label>
        <input type="checkbox" name="estado_turno" {% if turno.estado_turno %}checked{% endif %}> <br>
        <button type="submit">Modificar Registro</button>
    </form>
    <a href="{% url 'listar_turnos' %}">Volver al Listado de Turnos</a>
</body>
</html>
