{% extends "base.html" %}
{% load static %}

{% block titulo %}Modificar Método de Pago{% endblock %}

{% block contenido %}
<div class="col-md-9 p-0" style="margin-top: 21px; min-height: 100vh; display: flex; flex-direction: column;">
    <div class="card border-0 flex-grow-1">
        <div class="card-header text-black text-left">
            <h2>Modificar Método de Pago de la Venta</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="metodo_pago" class="col-md-4 col-form-label">Método de Pago:</label>
                    <div class="col-md-8">
                        {{ form.metodo_pago }}
                    </div>
                </div>
        </div>
        <!-- Card Footer, siempre al final -->
        <div class="card-footer bg-danger d-flex pt-3">
            <button type="submit" class="btn btn-sm text-white mx-2 mr-2" style="background-color: #701C7E;">Actualizar</button>
            <a href="{% url 'list_ventas' %}" class="ml-2">
                <button type="button" class="btn btn-warning btn-sm">Cancelar</button>
            </a>
        </div>
    </form>
    </div>
</div>
{% endblock %}
