<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="fondo">
    <!-- Primary Header -->
    <header class="header-primary">
        <div class="logo">
            <a class="text-dark text-decoration-none" href="{% url 'pagina_principal' %}">
                <img src="{% static 'imagenes/icono1.png' %}" alt="Logo">
            </a>
            <span>EspacioAnaSol</span>
        </div>
        <!-- Menú visible en pantallas grandes -->
        <div class="welcome-text d-none d-md-flex">
            <div class="d-flex">
                <a class="text-dark text-decoration-none mx-2 mr-2" href="#">Ver el Sitio</a> /
                {% if es_admin %}
                <a class="text-dark text-decoration-none mx-2 mr-2" href="{% url 'backup_database' %}">Hacer copia de seguridad</a> /
                <a class="text-dark text-decoration-none mx-2 mr-2" href="{% url 'restore_database' %}">Restaurar base de datos</a> /
                {% endif %}
                <a class="text-dark text-decoration-none mx-2 mr-2" href="{% url 'logout' %}"><strong>Cerrar Sesión</strong></a> 
            </div>
        </div>
        <!-- Menú desplegable para pantallas pequeñas -->
        <div class="dropdown d-md-none">
            <button class="btn btn-light dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Menú
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Ver el Sitio</a></li>
                {% if es_admin %}
                <li><a class="dropdown-item" href="{% url 'backup_database' %}">Hacer copia de seguridad</a></li>
                <li><a class="dropdown-item" href="{% url 'restore_database' %}">Restaurar base de datos</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'logout' %}"><strong>Cerrar Sesión</strong></a></li>
            </ul>
        </div>
    </header>
    
    <!-- Secondary Header -->
    <header class="header-secondary">
        <div class="menu-text">
            <!-- Siempre mostrar el enlace a la página principal -->
            <a class="text-dark text-decoration-none" href="{% url 'pagina_principal' %}">
                Página Principal
            </a>

            <!-- Mostrar el nombre de la página actual -->
            {% if request.path == '/pagina-principal/' %}
                <!-- Ya estamos en la página principal, no se muestra nada más -->
            {% elif request.path == '/cajas/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_cajas' %}">
                    Cajas
                </a>
            {% elif request.path == '/cajas/add/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_cajas' %}">
                    Cajas
                </a>
                / <a class="text-dark text-decoration-none" href="{% url 'abrir_caja' %}">
                    Abrir Caja
                </a>
            {% elif request.path == '/cajas/{{ id_caja }}/update/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_cajas' %}">
                    Cajas
                </a>
                / <a class="text-dark text-decoration-none" href="{% url 'update_caja' id_caja=id_caja %}">
                    Modificar Caja
                </a>
            {% elif request.path == '/servicios/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_servicios' %}">
                    Servicios
                </a>
            {% elif request.path == '/servicios/add/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_servicios' %}">
                    Servicios
                </a>
                / <a class="text-dark text-decoration-none" href="{% url 'add_servicio' %}">
                    Agregar Servicio
                </a>
            {% elif request.path == '/turnos/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_turnos' %}">
                    Turnos
                </a>
            {% elif request.path == '/turnos/registrar-cliente/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_turnos' %}">
                    Turnos
                </a>
                / <a class="text-dark text-decoration-none" href="{% url 'registrar_cliente' %}">
                    Registrar Cliente
                </a>
            {% elif request.path == '/turnos/registrar-turno/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_turnos' %}">
                    Turnos
                </a>
                / <a class="text-dark text-decoration-none" href="{% url 'registrar_turno' %}">
                    Registrar Turno
                </a>
            {% elif request.path == '/reservas/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_reservas' %}">
                    Reservas
                </a>
            {% elif request.path == '/ventas/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_ventas' %}">
                    Ventas
                </a>
            {% elif request.path == '/ventas/{{ id_venta }}/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_ventas' %}">
                    Ventas
                </a>
                / <a class="text-dark text-decoration-none" href="{% url 'detalle_venta' id_venta=id_venta %}">
                    Detalle de Venta
                </a>
            {% elif request.path == '/ventas/{{ id_venta }}/modificar_metodo_pago/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_ventas' %}">
                    Ventas
                </a>
                / <a class="text-dark text-decoration-none" href="{% url 'modificar_metodo_pago' venta_id=venta_id %}">
                    Modificar Método de Pago
                </a>
            {% elif request.path == '/clientes/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_clientes' %}">
                    Clientes
                </a>
            {% elif request.path == '/empleados/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_empleados' %}">
                    Empleados
                </a>
            {% elif request.path == '/empleados/add/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_empleados' %}">
                    Empleados
                </a>
                / <a class="text-dark text-decoration-none" href="{% url 'add_empleado' %}">
                    Agregar Empleado
                </a>
            {% elif request.path == '/empleados/{{ dni }}/update/' %}
                / <a class="text-dark text-decoration-none" href="{% url 'list_empleados' %}">
                    Empleados
                </a>
                / <a class="text-dark text-decoration-none" href="{% url 'update_empleado' dni=dni %}">
                    Modificar Empleado
                </a>
            {% endif %}
        </div>
    </header>

    <!-- Main content -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 sidebar">
                <h1>Sitio de {% if es_admin %} Administradores {% else %} Empleado {% endif %}</h1>

                <div class="menu-section">
                    <h4>Registro de Datos</h4>
                    <div class="menu-item">
                        <a class="text-dark text-decoration-none" href="{% url 'list_ventas' %}"><i class="fas fa-shopping-cart"></i> Ventas</a> <span class="plus-icon"></span>
                    </div>
                    <div class="menu-item">
                        <a class="text-dark text-decoration-none" href="{% url 'list_cajas' %}"><i class="fas fa-cash-register"></i> Caja</a>
                        {% if not cajas_abiertas %}
                        <a class="text-decoration-none" href="{% url 'abrir_caja' %}" title="Abrir Caja"><span class="plus-icon"><i class="fas fa-plus-circle"></i></span></a>
                        {% endif %}
                    </div>
                    <div class="menu-item">
                        <a class="text-dark text-decoration-none" href="{% url 'list_turnos' %}"><i class="fas fa-clock"></i> Turnos</a>
                        {% if es_admin %}
                        <a class="text-decoration-none" title="Agregar Nuevo Turno" href="{% url 'registrar_cliente' %}"><span class="plus-icon"><i class="fas fa-plus-circle"></i></span></a>
                        {% endif %}
                    </div>
                    <div class="menu-item">
                        <a class="text-dark text-decoration-none" href="{% url 'list_servicios' %}"><i class="fas fa-cogs"></i> Servicios</a>
                        {% if es_admin %}
                        <a class="text-decoration-none" href="{% url 'add_servicio' %}" title="Agregar Servicio"><span class="plus-icon"><i class="fas fa-plus-circle"></i></span></a>
                        {% endif %}
                    </div>
                    <div class="menu-item">
                        <a class="text-dark text-decoration-none" href="{% url 'list_reservas' %}"><i class="fas fa-calendar-check"></i> Reservas</a>
                    </div>
                </div>

                <div class="menu-section mt-4">
                    <h4>Usuarios</h4>
                    <div class="menu-item"><a class="text-dark text-decoration-none" href="{% url 'list_clientes' %}"><i class="fas fa-users"></i> Clientes Registrados</a></div>
                    {% if es_admin %}
                    <div class="menu-item"><a class="text-dark text-decoration-none" href="{% url 'list_empleados' %}"><i class="fas fa-users-cog"></i> Empleados Registrados</a></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-9 p-0" style="margin-top: 21px; min-height: 100vh; display: flex; flex-direction: column;">
                <div class="card border-0 flex-grow-1">
                    <div class="card-header text-black text-left">
                        <h2>Modificar Servicio</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="form-group row">
                                <label for="nombre_del_servicio" class="col-md-4 col-form-label">Nombre del Servicio:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control {% if form.nombre_del_servicio.errors %}is-invalid{% endif %}" id="nombre_del_servicio" name="nombre_del_servicio" value="{{ servicio.nombre_del_servicio }}">
                                    {% if form.nombre_del_servicio.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.nombre_del_servicio.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="descripcion_del_servicio" class="col-md-4 col-form-label">Descripción del Servicio:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control {% if form.descripcion_del_servicio.errors %}is-invalid{% endif %}" id="descripcion_del_servicio" name="descripcion_del_servicio" value="{{ servicio.descripcion_del_servicio }}">
                                    {% if form.descripcion_del_servicio.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.descripcion_del_servicio.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="duracion" class="col-md-4 col-form-label">Duración:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control {% if form.duracion.errors %}is-invalid{% endif %}" id="duracion" name="duracion" value="{{ servicio.duracion }}">
                                    {% if form.duracion.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.duracion.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="precio_del_servicio" class="col-md-4 col-form-label">Precio del Servicio:</label>
                                <div class="col-md-8">
                                    <input type="number" step="0.01" class="form-control {% if form.precio_del_servicio.errors %}is-invalid{% endif %}" id="precio_del_servicio" name="precio_del_servicio" value="{{ servicio.precio_del_servicio }}">
                                    {% if form.precio_del_servicio.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.precio_del_servicio.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="senia" class="col-md-4 col-form-label">Valor de Seña:</label>
                                <div class="col-md-8">
                                    <input type="text" step="0.01" class="form-control {% if form.senia.errors %}is-invalid{% endif %}" id="senia" name="senia" value="{{ servicio.senia }}">
                                    {% if form.senia.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in form.senia.errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                {% if servicio.imagen %}
                                <p>Imagen actual:</p>
                                <img src="{{ servicio.imagen.url }}" width="100" alt="Imagen del servicio">
                                {% else %}
                                <p>Sin imagen actual.</p>
                                {% endif %}
                            </div>
                            
                            <div class="form-group row">
                                <label for="imagen" class="col-md-4 col-form-label">Nueva Imagen:</label>
                                <div class="col-md-8">
                                    <input type="file" class="form-control" id="imagen" name="imagen">
                                </div>
                            </div>
                        </div>
            
                        <!-- Card Footer, siempre al final -->
                        <div class="card-footer bg-danger d-flex pt-3">
                            <button type="submit" class="btn btn-sm text-white mx-2 mr-2" style="background-color: #701C7E;">Guardar</button>
                            <a href="{% url 'list_servicios' %}" class="btn btn-warning btn-sm text-white ml-2">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer text-white" style="margin-top: 10px;">
        <p>&copy; 2024 EspacioAnaSol. Todos los derechos reservados.</p>
    </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
