<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="">
    <title>Página Principal</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="{% url 'pagina_principal' %}">
            <img src="{% static 'imagenes/icono1.png' %}" alt="Logo"> <!-- Replace with actual logo URL -->
            </a>
            <span>EspacioAnaSol</span>
        </div>
        <div class="welcome-text">
            Bienvenido, <strong>Usuario</strong> / <a href="#">Ver el Sitio</a> / <a href="{% url 'backup_database' %}">Hacer copia de seguridad</a> / {% if es_admin %} <a href="{% url 'restore_database' %}">Restaurar base de datos</a>  / {% endif %} <a href="{% url 'logout' %}">Cerrar Sesión</a>
        </div>
    </header>

    <!-- Main content -->
    <div class="container-fluid">
        <div class="row"> 
            <!-- Sidebar -->
            <div class="col-md-7 sidebar">
                <h3>Sitio de Empleados</h3>

                <div class="menu-section">
                    <h4>Registro de Datos</h4>
                    <div class="menu-item">
                        <a href="{% url 'list_ventas' %}">Ventas</a> <span class="plus-icon"><a href="">+</a></span>
                    </div>
                    <div class="menu-item">
                        <a href="{% url 'list_cajas' %}">Caja
                        {% if not cajas_abiertas %}
                        <a href="{% url 'abrir_caja' %}"><span class="plus-icon">+</span></a>
                        {% else %}
                        <a href="{% url 'list_cajas' %}" disabled><span class="plus-icon">+</span></a>
                        {% endif %}
                    </div>
                    <a href="{% url 'list_turnos' %}"><div class="menu-item">
                        Turnos <span class="plus-icon"><a href="{% url 'add_turno' %}">+</a></span>
                    </div>
                    <a href="{% url 'list_servicios' %}"><div class="menu-item">
                        Servicios <span class="plus-icon"><a href="{% url 'add_servicio' %}">+</a></span>
                    </div>
                </div>

                <div class="menu-section mt-4">
                    <h4>Usuarios</h4>
                    <a href="{% url 'list_clientes' %}"><div class="menu-item">
                        Clientes Registrados
                    </div></a>
                    <a href="{% url 'list_empleados' %}"><div class="menu-item">
                        Empleados Registrados
                    </div></a>
                </div>
            </div>

            <!-- Welcome Section -->
            <div class="col-md-5 welcome-section">
                <h2 style="font-size: 60px;">Bienvenido/a</h2>
                <h3 style="font-size: 30px;">A Espacio AnaSol</h3>
                <img src="{% static 'imagenes/Logo1.png' %}" alt="Secondary Logo" class="mt-4" style="max-width: 400px;"> <!-- Replace with actual secondary logo URL -->
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
