<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="">
    <title>Página Principal</title>
</head>
<body>
    <div>
        <button><a href="#"><p>>Ventas</p></a></button>
        <button><a href="{% url 'list_cajas' %}"><p>>Cajas</p></a></button>
        <button><a href="{% url 'list_turnos' %}"><p>>Turnos</p></a></button>
        <button><a href="{% url 'list_servicios' %}"><p>>Servicios</p></a></button>
        <button><a href="#"><p>>Clientes</p></a></button>
        <button><a href="{% url 'list_empleados' %}"><p>>Empleados</p></a></button>  <!-- Enlace a la lista de empleados -->
    </div> 
</body>
</html>

