<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fondo2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Panel de Administración</title>
</head>
<body>
    <div class="welcome-admin">
        <img class="logo-admin" src="{% static 'imagenes/Logo2.png' %}" alt="Logotipo">
        <h1>Bienvenido a la página de administradores</h1>
    </div>
    <div class="colums1">
        <button class="boton-item2" type="button"><a href="{% url 'listar_ventas' %}"><p class="text-button2">Ventas</p></a></button>
        <button class="boton-item2" type="button"><a href="{% url 'listar_cajas' %}"><p class="text-button2">Caja</p></a></button>
        <button class="boton-item2" type="button"><a href="{% url 'listar_turnos' %}"><p class="text-button2">Turnos</p></a></button>
        <button class="boton-item2" type="button"><a href="{% url 'listar_servicios' %}"><p class="text-button2">Servicios</p></a></button>
        <button class="boton-item2" type="button"><a href="{% url 'listar_clientes' %}"><p class="text-button2">Clientes</p></a></button>
        <button class="boton-item2" type="button"><a href="{% url 'listar_empleados' %}"><p class="text-button2">Empleados</p></a></button>
    </div>
    
</body>
</html>