<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Turno</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    
</head>
<body>
    <!-- Primary Header -->
    <header class="header-primary">
        <div class="logo">
            <a class="text-dark text-decoration-none" href="{% url 'pagina_principal' %}">
                <img src="{% static 'imagenes/icono1.png' %}" alt="Logo"> <!-- Replace with actual logo URL -->
                </a>
            <span>EspacioAnaSol</span>
        </div>
        <div class="welcome-text">
            <a class="text-dark text-decoration-none" href="#">Ver el Sitio</a> / <a class="text-dark text-decoration-none" href="{% url 'backup_database' %}">Hacer copia de seguridad</a> / <a class="text-dark text-decoration-none" href="{% url 'restore_database' %}">Restaurar base de datos</a>  / <a class="text-dark text-decoration-none" href="{% url 'logout' %}">Cerrar Sesión</a>
        </div>
    </header>
        <!-- Secondary Header -->
    <header class="header-secondary">
        <div class="menu-text">
        <a class="text-dark text-decoration-none" href="{% url 'pagina_principal' %}">Inicio </a> / <a class="text-dark text-decoration-none" href="{% url 'list_servicios' %}">Turnos</a> / <a class="text-dark text-decoration-none" href="{% url 'registrar_cliente' %}">Registrar Cliente</a> / <a class="text-dark text-decoration-none" href="{% url 'registrar_turno' %}">Registrar Turno</a>
        </div>
    </header>

    <!-- Main content -->
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-7 sidebar">
                <h3>Sitio de Empleados</h3>

                <div class="menu-section">
                    <h4>Registro de Datos</h4>
                    <div class="menu-item">
                        <a class="text-dark text-decoration-none" href="{% url 'list_ventas' %}">Ventas</a> <span class="plus-icon"></span>
                    </div>
                    <div class="menu-item">
                        <a class="text-dark text-decoration-none" href="{% url 'list_cajas' %}">Caja
                        {% if not cajas_abiertas %}
                        <a class="text-decoration-none" href="{% url 'abrir_caja' %}"><span class="plus-icon">+</span></a>
                        {% endif %}
                    </div>
                    <a class="text-dark text-decoration-none" href="{% url 'list_turnos' %}"><div class="menu-item">
                        Turnos </a><a class="text-decoration-none" href="{% url 'registrar_cliente' %}"><span class="plus-icon">+</span></a>
                    </div>
                    <a class="text-dark text-decoration-none" href="{% url 'list_servicios' %}"><div class="menu-item">
                        Servicios </a><a class="text-decoration-none" href="{% url 'add_servicio' %}"><span class="plus-icon">+</span></a>
                    </div>
                    <a class="text-dark text-decoration-none" href="{% url 'list_reservas' %}"><div class="menu-item">
                        Reservas </a>
                    </div>
                </div>

                <div class="menu-section mt-4">
                    <h4>Usuarios</h4>
                    <div class="menu-item"><a class="text-dark text-decoration-none" href="{% url 'list_clientes' %}">Clientes Registrados</a></div>
                    {% if es_admin %}
                    <div class="menu-item"><a class="text-dark text-decoration-none" href="{% url 'list_empleados' %}">Empleados Registrados</a></div>
                    {% endif %}
                </div>
            </div>
            
<div class="col-md-8 p-0" style="margin-top: 21px;">
    <div class="card border-0 h-100">
        <div class="card-header text-black text-left">
            <h2>Registrar Turno</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-group row">
                    <label for="fecha" class="col-md-4 col-form-label">Fecha:</label>
                    <div class="col-md-8">
                        {{ form.fecha }}
                    </div>
                </div>
            
                <div class="form-group row">
                    <label for="hora" class="col-md-4 col-form-label">Hora:</label>
                    <div class="col-md-8">
                        {{ form.hora }}
                    </div>
                </div>
            
                <div class="form-group row">
                    <label for="id_empleado" class="col-md-4 col-form-label">Empleado:</label>
                    <div class="col-md-8">
                        {{ form.id_empleado }}
                    </div>
                </div>
            
                <div class="form-group row">
                    <label for="id_servicio" class="col-md-4 col-form-label">Servicio:</label>
                    <div class="col-md-8">
                        {{ form.id_servicio }}
                    </div>
                </div>
            
                <div class="form-group row">
                    <label for="diseño_uñas" class="col-md-4 col-form-label">Diseño de Uñas:</label>
                    <div class="col-md-8">
                        {{ form.diseño_uñas }}
                    </div>
                </div>
            
                <div class="form-group row">
                    <label for="senia_comprobante" class="col-md-4 col-form-label">Seña Comprobante:</label>
                    <div class="col-md-8">
                        {{ form.senia_comprobante }}
                    </div>
                </div>
            
                <div class="card-footer bg-danger">
                    <div class="d-flex">
                        <div>
                            <button type="submit" class="btn btn-sm mr-2 text-white" style="background-color: #701C7E;">Registrar</button>
                        </div>
                        <div>
                            <a class="text-dark text-decoration-none" href="{% url 'cancelar_registro' %}" class="btn btn-sm btn-secondary">Cancelar</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
