{% extends "base.html" %}
{% load static %}

{% block titulo %}Registrar Cliente{% endblock %}

{% block contenido %}
<div class="col-md-9 p-0" style="margin-top: 21px; min-height: 100vh; display: flex; flex-direction: column;">
    <div class="card border-0 flex-grow-1">
        <div class="card-header text-black text-left">
            <h2>Registrar Cliente</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group row">
                    <label for="nombre" class="col-md-4 col-form-label">Nombre:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="apellido" class="col-md-4 col-form-label">Apellido:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="apellido" name="apellido" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="correo_electronico" class="col-md-4 col-form-label">Correo Electrónico:</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control" id="correo_electronico" name="correo_electronico" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="numero_telefono" class="col-md-4 col-form-label">Número de Teléfono:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="numero_telefono" name="numero_telefono" required>
                    </div>
                </div>

            </form>
        </div>
        <!-- Card Footer, siempre al final -->
        <div class="card-footer bg-danger d-flex pt-3">
            <button type="submit" class="btn btn-sm text-white" style="background-color: #701C7E;">Registrar</button>
            <a class="btn btn-warning btn-sm text-white ml-2" href="{% url 'cancelar_registro' %}">Cancelar</a>
        </div>
    </div>
</div>
{% endblock %}
