<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if es_admin %}
    <link rel="stylesheet" href="{% static 'css/fondo2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'css/fondo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
    {% endif %}
    <title>Servicios</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>