{% extends 'base.html' %}
{% block content %}
<div class="menu-contenedor">
    <div class="tarjeta-servicio">
        <div class="titulo-servicio"></div>
        <div class="descripcion-servicio">
            <h1>"¡TURNO RESERVADO CON ÉXITO!</h1>
            <p>No te olvides de tu turno. Te enviaremos un recordatorio 24 horas antes con los detalles: Fecha Y hora</p>
            <p>Esperamos verte pronto"</p>
            <div class="info-servicio">
                
            </div>
        </div>
    </div>
{% endblock %}


