{% extends "base.html" %}
{% load static %}

{% block titulo %}Modificar Monto Inicial{% endblock %}

{% block contenido %}
<div class="col-md-9 p-0" style="margin-top: 21px; min-height: 100vh; display: flex; flex-direction: column;">
    <div class="card border-0 flex-grow-1">
        <div class="card-header text-black text-left">
            <h2>Modificar Monto Inicial</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="monto_inicial" class="col-md-4 col-form-label">Monto Inicial:</label>
                    <div class="col-md-8">
                        <input type="number" name="monto_inicial" id="monto_inicial" class="form-control" value="{{ caja.monto_inicial }}" required>
                    </div>
                </div>
            </div>
        <!-- Card Footer, siempre al final -->
        <div class="card-footer bg-danger d-flex pt-3">
            <button type="submit" class="btn btn-sm text-white" style="background-color: #701C7E;">Actualizar</button>
            <a href="{% url 'list_cajas' %}" class="ml-2">
                <button type="button" class="btn btn-warning btn-sm">Cancelar</button>
            </a>
        </div>
    </form>
    </div>
</div>
{% endblock %}
