{% extends 'turnos.html' %}

{% block content %}
<!-- Form Section -->
<div class="col-md-8 p-0" style="margin-top: 21px;">
    <div class="card border-0 h-100">
        <div class="card-header text-black text-left">
            <h2>Modificar Turno</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group row">
                    <label for="fecha" class="col-md-4 col-form-label">Fecha:</label>
                    <div class="col-md-8">
                        {{ form.fecha }}  <!-- Selector de fecha -->
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="hora" class="col-md-4 col-form-label">Hora:</label>
                    <div class="col-md-8">
                        {{ form.hora }}  <!-- Selector de hora -->
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="estado_turno" class="col-md-4 col-form-label">Estado:</label>
                    <div class="col-md-8">
                        {{ form.estado_turno }}  <!-- Selector de estado -->
                    </div>
                </div>

                <div class="card-footer bg-danger">
                    <button type="submit" class="btn btn-sm mr-2 text-white" style="background-color: #701C7E;">Guardar</button>
                    <button type="button" class="btn btn-sm mr-2 text-white" style="background-color: #A964BF;">Guardar y agregar nuevo</button>
                    <button type="button" class="btn btn-sm text-white" style="background-color: #A964BF;">Guardar y modificar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
