{% extends "base.html" %}
{% load static %}

{% block titulo %}Modificar Empleado{% endblock %}

{% block contenido %}
<div class="col-md-9 p-0" style="margin-top: 21px; min-height: 100vh; display: flex; flex-direction: column;">
    <div class="card border-0 flex-grow-1">
        <div class="card-header text-black text-left">
            <h2>Modificar Empleado</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <!-- DNI (Readonly) -->
                <div class="form-group row">
                    <label for="dni" class="col-md-4 col-form-label">DNI:</label>
                    <div class="col-md-8">
                        <input type="text" id="dni" name="dni" value="{{ empleado.dni }}" class="form-control" readonly>
                    </div>
                </div>

                <!-- Nombre -->
                <div class="form-group row">
                    <label for="nombre" class="col-md-4 col-form-label">Nombre:</label>
                    <div class="col-md-8">
                        <input type="text" id="nombre" name="nombre" value="{{ empleado.nombre }}" class="form-control">
                    </div>
                </div>

                <!-- Apellido -->
                <div class="form-group row">
                    <label for="apellido" class="col-md-4 col-form-label">Apellido:</label>
                    <div class="col-md-8">
                        <input type="text" id="apellido" name="apellido" value="{{ empleado.apellido }}" class="form-control">
                    </div>
                </div>

                <!-- Domicilio -->
                <div class="form-group row">
                    <label for="domicilio" class="col-md-4 col-form-label">Domicilio:</label>
                    <div class="col-md-8">
                        <input type="text" id="domicilio" name="domicilio" value="{{ empleado.domicilio }}" class="form-control">
                    </div>
                </div>

                <!-- Correo Electrónico -->
                <div class="form-group row">
                    <label for="correo_electronico" class="col-md-4 col-form-label">Correo Electrónico:</label>
                    <div class="col-md-8">
                        <input type="email" id="correo_electronico" name="correo_electronico" value="{{ empleado.correo_electronico }}" class="form-control">
                    </div>
                </div>

                <!-- Número de Teléfono -->
                <div class="form-group row">
                    <label for="numero_telefono" class="col-md-4 col-form-label">Número de Teléfono:</label>
                    <div class="col-md-8">
                        <input type="text" id="numero_telefono" name="numero_telefono" value="{{ empleado.numero_telefono }}" class="form-control">
                    </div>
                </div>

                <!-- Contraseña -->
                <div class="form-group row">
                    <label for="contraseña" class="col-md-4 col-form-label">Contraseña:</label>
                    <div class="col-md-8">
                        <input type="text" id="contraseña" name="contraseña" value="{{ empleado.contraseña_original }}" class="form-control">
                    </div>
                </div>
                {% if not empleado.es_admin %}
                <!-- Estado del Empleado -->
                <div class="form-group row">
                    <label for="estado_empleado" class="col-md-4 col-form-label">Estado del Empleado:</label>
                    <div class="col-md-8">
                        <select id="estado_empleado" name="estado_empleado" class="form-control">
                            <option value="activo" {% if empleado.estado_empleado == 'activo' %}selected{% endif %}>Activo</option>
                            <option value="inactivo" {% if empleado.estado_empleado == 'inactivo' %}selected{% endif %}>Inactivo</option>
                        </select>
                    </div>
                </div>


                <!-- Es Admin -->
                <div class="form-group row">
                    <label for="es_admin" class="col-md-4 col-form-label">Rol</label>
                    <div class="col-md-8">
                        <select id="es_admin" name="es_admin" class="form-control">
                            <option value="True" {% if empleado.es_admin %}selected{% endif %}>Administrador</option>
                            <option value="False" {% if not empleado.es_admin %}selected{% endif %}>Empleado</option>
                        </select>
                    </div>
                </div>
                {% endif %}
            </div>
        <!-- Card Footer, siempre al final -->
        <div class="card-footer bg-danger d-flex pt-3">
            <button type="submit" class="btn btn-sm text-white mx-2 mr-2" style="background-color: #701C7E;">Actualizar</button>
            <a href="{% url 'list_empleados' %}" class="ml-2">
                <button type="button" class="btn btn-warning btn-sm">Cancelar</button>
            </a>
        </div>
    </form>
    </div>
</div>
{% endblock %}
