/* inicio.html */

body {
    background-image: url(../imagenes/10.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 210px; /* Tamaño fijo para todas las pantallas */
    height: 210px; /* Mantener proporción */
    object-fit: cover; /* Asegura que la imagen encaje en el contenedor */
}
.tutorial, .reserva {
    background: linear-gradient(90deg, #fa8dfa 0%, #b033bb 100%);
    color: #fdfdfd;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    width: 250px;

}
footer {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Elegir_servicio.html */

.card {
    background-color: #ffffff; /* Blanco */
    border: 2px solid #d29dc3; /* Borde morado claro */
    color: #6c3483; /* Morado */
}
.btn-secondary {
    background-color: #6c3483; /* Morado */
    border: none;
}
.btn-secondary:hover {
    background-color: #9b59b6; /* Morado más claro */
}


body {
    background-color: #f8e8f1; /* Rosa claro */
}
.carousel-item .card {
    background-color: #ffffff; /* Blanco */
    border: 2px solid #000000; /* Borde morado claro */
    color: #000000; /* Morado */
}
.btn-secondary {
    background-color: #6c3483; /* Morado */
    border: none;
}
.btn-secondary:hover {
    background-color: #9b59b6; /* Morado más claro */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000000; /* Morado */
    border-radius: 50%;
}