*{
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

header{
	width: 100%;
	height: 100px;
	background-color: #fa8dfa;
}
.cab_nav{
	width: 100%;
	padding: 20px;
}

.cab_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cab_nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-right: 20px;
    color: #fdfdfd;
    border-radius: 20px;
    border: 3px solid black;
    width: 100px;
}

.cab_nav ul li a{
	text-decoration: none;
	color: #ffffff;
	font-weight: 900;
}

.boton{
	background-color: gray;
}
.marca{
	background-color: #b033bb;
}

.logo_img{
	width: 150px;
	position: absolute;
	border-radius: 50%;
	top: 5px;
	left: 5px
}

.contenedor{
	background-color: #ff6cff;
	padding: 25px 10px;
	box-shadow: #000000;
	margin: 10px;
	
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
	background-color: #f1f1f1;
}

table th {
    background-color: #010101;
    color: white;
}
.formulario{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 100px;
}

.formulario form {
    background-color: #fff;
	max-width: 600px;
	padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario form label h2{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 50px;
	font-size: 50px;
	font-weight: bold;
}

.formulario form input{
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

.formulario form button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
	margin-left: 500px;
}

.formulario form button:hover {
    background-color: #4cae4c;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table{
    border: 1px solid black;
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
