/* General page styles */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo{
    background-color: #fcd3f6a8;
}

.welcome-section h2 {
    font-size: 100vm;
}

/* Header styling */
.header {
    background-color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header img {
    height: 50px;
    margin-right: 10px;
}

.header span {
    font-size: 20px;
    font-weight: bold;
}

.header .welcome-text {
    font-size: 14px;
}

/* Welcome Section */
.welcome-section {
    background-image: url(../imagenes/fondo2.png); /* Replace with actual background URL */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 30px;
    width: 100%;
}

.welcome-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 40px;
}

.welcome-section h3 {
    font-size: 1.5rem;
}

/* Sidebar styles */
.sidebar {
    background-color: #f3e0f5;
    padding: 20px;
    border-right: 1px solid #ddd;
    width: 100%;
}

.sidebar h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #5e2a6f;
}

.sidebar .menu-section {
    margin-top: 20px;
}

.sidebar .menu-section h4 {
    background-color: #C16AA8;
    color: black;
    font-weight: bold;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.sidebar .menu-item {
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .menu-item .plus-icon {
    font-size: 1.2rem;
    color: #28a745;
}

.row {
    margin-top: 10px;
}

/* Footer styling */
.footer {
    background-color: #6f1c7e91; /* Custom background color */
    color: white;
    padding: 10px;
    text-align: center;
}
