<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Empleados</title>
</head>
<body>
    <h1>Gestión de Empleados</h1>
    <a href="{% url 'crear_empleado' %}">Crear Empleado</a>
    <table border="1">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Domicilio</th>
                <th>Correo Electrónico</th>
                <th>Número de Teléfono</th>
                <th>Imagen</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.dni }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.domicilio }}</td>
                <td>{{ empleado.correo_electronico }}</td>
                <td>{{ empleado.numero_telefono }}</td>
                <td><img src="{{ empleado.imagen.url }}" alt="Imagen de {{ empleado.nombre }}" width="50"></td>
                <td>{{ empleado.estado_empleado|yesno:"Activo,Suspendido" }}</td>
                <td>
                    <form action="{% url 'modificar_empleado' empleado.dni %}" method="get">
                        <button type="submit">Modificar</button>
                    </form>
                    <form action="{% url 'eliminar_empleado' empleado.dni %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Eliminar</button>
                    </form>
                    {% if empleado.estado_empleado %}
                    <form action="{% url 'suspender_empleado' empleado.dni %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Suspender</button>
                    </form>
                    {% else %}
                    <form action="{% url 'activar_empleado' empleado.dni %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Activar</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'pagina_principal' %}">Volver a la Página Principal</a>
</body>
</html>

