<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Cajas</title>
</head>
<body>
    <h1>Listado de Cajas</h1>
    <a href="{% url 'abrir_caja' %}">Abrir Nueva Caja</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID Caja</th>
                <th>Empleado</th>
                <th>Fecha Apertura</th>
                <th>Fecha Cierre</th>
                <th>Monto Inicial</th>
                <th>Monto Recaudado</th>
                <th>Monto Final</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for caja in cajas %}
            <tr>
                <td>{{ caja.id_caja }}</td>
                <td>{{ caja.empleado.nombre }}</td>
                <td>{{ caja.fecha_apertura }}</td>
                <td>{{ caja.fecha_cierre }}</td>
                <td>{{ caja.monto_inicial }}</td>
                <td>{{ caja.monto_recaudado }}</td>
                <td>{{ caja.monto_final }}</td>
                <td>
                    {% if not caja.fecha_cierre %}
                    <a href="{% url 'cerrar_caja' caja.id_caja %}">Cerrar Caja</a>
                    {% endif %}
                    <a href="{% url 'modificar_caja' caja.id_caja %}">Modificar</a>
                    <a href="{% url 'eliminar_caja' caja.id_caja %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'pagina_principal' %}">Volver a la Página Principal</a>
</body>
</html>
